/*信息管理*/
.menuPage {
	padding-top:.25rem;
}
.mana_lists {
	padding: 0 .1875rem .0625rem ;
	color: #02265A;
	line-height: .231rem;
	font-size: .1rem;
}

.mana_lists label {
	width: .6rem;
	text-align: right;
	display: inline-block;
}

.mana_l_text {
	/*padding-left: .1187rem;*/
	color: #0887D6;
}
/*信息管理*/
.choose a{
	color: #2C68FF;
}
.menu_equip {
	height: .562rem;
}
