.nav_leDe{
	width:3.125rem;
	margin: .15rem auto .15rem;
}
.nav_leDe1{
	position: absolute;
    left: 50%;
    width: 3.125rem;
     margin: .15rem 0 .15rem -1.56rem; 
}
.nav_leDe1Out {
	height: .5rem;
	background: #ccc;
	position: fixed;
	top:0;
	z-index: 10000;
	width: 100%;
}
.nav_leDe .active,.nav_leDe1 .active{
	background: #fff;
	color: #5AA055;
}
.clear{
	clear: both;
}
.nav_leDe>div,.nav_leDe1>div{
	width:1.25rem;
	height: .1875rem;
	line-height: .1875rem;
	font-size: .0875rem;
	background: #5AA055;
	color: #fff;
	border: 1px solid #5AA055;
	text-align: center;
	cursor: pointer;
}
.right {
	margin: 0 auto;
	overflow: auto;
}
.right1{
	margin: 0 auto;
	overflow: auto;
}
.bdequipSele{
	line-height: .175rem;
    font-size: .1rem;
    color: #2f856a;
    margin-top: .075rem;
}
.bdequipSele select{
	width: 1.45rem;
	border:1px solid #0887D6;
	color: #0887D6;
	line-height: .175rem;
	height: .175rem;
	margin-left: .1125rem;
	font-size: .0875rem;
}
.bdequipSele select option{
	font-size: .0875rem;
}

#bdequipSelOut{
	display: none;
}
/*树*/
.bdequips .pinline {
	height: 100%;
    width: 66%;
    white-space: nowrap;
    display: inline-block;
    line-height: .187rem;
    position: relative;
    top: -7px;
    cursor: pointer;
}
.checkEquip {
	width: .106rem;
	height:.106rem;
	margin:4px 0 4px 4px;
}
.bdouter{
	position: relative;
}
.fieldset{
	height: 2.15rem;
	overflow-y: scroll;
	border: 1px solid #0887D6;
}
.fieldset .fieldsetF,#bdequipSelOut .bdequipSelName{
	position: absolute;
	width: .962rem;
	text-align: center;
	height: .125rem;
	line-height: .125rem;
	background: #fff;
	top:-.0625rem;
	left:.068rem;
	font-size: .0875rem;
	color: #FF7600;
	z-index: 5;
}
#bdequipSelOut {
	border: 1px solid #0887D6;
	position: relative;
	margin-top: .062rem;
}

.bdequipSel {
	overflow-y: scroll;
	clear: both;
	padding-top: .125rem;
}
.bdequipSelL,.bdequipSelR{
	float: left;
	width: 45%;
	padding-left: 5%;
	box-sizing: border-box;
}
.bdequipSelL{
	border-right: 2px dashed #3BA9ED;
	
}
.bdequipSeles {
	display: inline-block;
	margin:.0187rem .087rem 0 0;
	width:.1rem;
	height: .1rem;
}
.bdequipSelR .bdequipSeles {
	margin-left:.08rem;
}
.bdequipSelesval {
	font-size: .0875rem;
	color: #3BA9ED;
	line-height: .12rem;
}
.bdequipSelL li,.bdequipSelR li{
	margin-bottom: .0625rem;
	height: .12rem;
}
.bdequipdata {
	line-height: .175rem;
	font-size: .1rem;
	color: #0887D6;
	margin-top: .075rem;
}
.bdequipdata span,.bdequipSele span{
	color: #02265A;
}
.bdequipdataB {
	margin-left: .1125rem;
	width:.625rem;
	height: .175rem;
	border: 1px solid #0887D6;
	font-size: .075rem;
	color: #0887D6;
	background: url(../img/Rectangle/Grid.png) .5rem center no-repeat;
	padding-left: .05rem;
	box-sizing: border-box;
}
.bdequipdataE {
	width:.625rem;
	height: .175rem;
	border: 1px solid #0887D6;
	font-size: .075rem;
	color: #0887D6;
	background: url(../img/Rectangle/Grid.png) .5rem center no-repeat;
	padding-left: .05rem;
	box-sizing: border-box;
}
.bdequipdata b {
	width: .2rem;
	font-size: .125rem;
	text-align: center;
}

　::-webkit-input-placeholder { /* WebKit browsers */
　　color:#2f856a;
　　}
.bdequipselect{
	width: .85rem;
	height: .187rem;
	line-height: .187rem;
	color: #fff;
	text-align: center;
	background: #3366FF;
	font-size: .1rem;
	margin: .08rem auto .2rem;
	border-radius: .025rem;
	display: block;
	border: 1px solid #3366FF;
	cursor: pointer;
	box-shadow: 0 1px 9px 1px rgba(0,100,173,.3);
}
/*图表*/
.bdequipshow {
	box-sizing: border-box;
	width: 100%;
}
#main{
	height:2.5rem;
}
.bdequipshList,.bdequipshListn {
	display: none;
}
.bdequipshListn {
	position: absolute;
	width: 100%;
	height: 100%;
}
.bdequipshListn>li {
	position: absolute;
	left: -1000rem;
	top: 0;
	width: 100%;
}
.bdequipshList>li,.bdequipshListn>li {
	height:500px;
	margin-bottom: .4rem;
}
.bdequipshList>li>p,.mainsout>p,.mainsoutn>p,.bdequipshListn>li>p{
	height: .3rem;
	line-height: .2rem;
	top: .062rem;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	padding: .0625rem .1rem 0 .1rem;
	box-sizing: border-box;
}
.bdequipshList>li>p>button,.mainsout>p>button,.mainsoutn>p>button,.bdequipshListn>li>p>button{
	width: .5rem;
	height: .1875rem;
	line-height: .1875rem;
	border-radius: .025rem;
	padding-left: .1875rem;
	color: #fff;
	font-size: .1rem;
	text-align: left;
	background: #3366FF url(../img/backtoHome.svg) .0625rem center/.0812rem .137rem no-repeat;
	box-sizing: border-box;
	cursor: pointer;
	box-shadow: 0 2px 9px 2px rgba(0,100,173,.3);
}
.bdequipshList .mainLiInner,.bdequipshListn .mainLiInner{
	width:100%;
	padding-bottom: 20px;
}
.bdequipshList .mainLiInner .mainLiInList{
	width: 320px;
	height: 500px;
}
.bdequipshListn .bigLi {
	width: 640px;
	height: 500px;
}
.bdequipshList .oneOnly,.bdequipshListn .oneOnly{
	width: 100%;
	margin-right: 0;
}
.bdequiptitName {
	line-height: .3rem;
	font-size: .16rem;
	text-align: center;
	color: #333;
	clear: both;
}
.bdequiptitName button{
	width:.8rem;
	line-height: .2rem;
	height: .2rem;
	margin-top: .05rem;
	float: right;
	color: #fff;
	background-color: rgb(3,100,147);
	cursor: pointer;
}
.bdequiptitName .bdequiptitNa_l{
	float: left;
}
.treeleft_stu_cameras {
	display: none;
}
.treeleft_head{
	position: initial;
	box-sizing: border-box;
}
.treeleft_stu_last{
	width: auto;
}

.menu_equip {
	height:.562rem
}
.bdouterAll {
	padding-top: .1rem;
	width: 2rem;
	margin: 0 auto;
}
.mainsout,.mainsout{
	font-size: .1rem;
}
#mains{
	height: 100%;
	height: 500px;
	padding-bottom: 20px;
}
.points {
	padding-left: .2rem;
	box-sizing: border-box;
}
.bdequips {
	padding-bottom: .15rem;
	font-size: .1rem;
}
.leftLies {
    padding-bottom: .03rem;
}
.bdequipshowNext {
	width: 200%;
	position: absolute;
	top: .25rem;
    background: #fff;
    left: -1000rem;
    height: 100%;
}
#mainsn{
	height: 500px;
	padding-bottom: 20px;
}
.bdequipshListn>li{
	
}
.bdequipshListn>li>div {
	width:100%;
}
.bdequipshowNext .title {
	font-size: .1rem;
}


/*
实时分析*/
.menu_eq_list {
	width: 100%;
	overflow-x: scroll;
	overflow-y: hidden;
	padding-top: .25rem;
}
.menu_eq_list ul {
    background: #40B6E6;
    box-shadow: 0 0.01rem 0.01rem 0.01rem rgba(0, 0, 0, .5);
}
.menu_eq_list .active {
    background: #3366FF;
    color: #fff;
}
.menu_eq_list li {
    margin: .025rem 0 .025rem .0625rem;
    padding: 0 .093rem;
    line-height: .2rem;
    background: #fff;
    border-radius: .025rem;
    font-size: .1rem;
    color: #0887D6;
}

.backout{
	height:.1875rem;
	width: 100%;
	clear: both;
	padding: .0687rem .0375rem;
}
.backHome {
	float: left;
	width: .5rem;
	height: .1875rem;
	line-height: .1875rem;
	border-radius: .025rem;
	padding-left: .1875rem;
	color: #fff;
	font-size: .1rem;
	text-align: left;
	background: #3366FF url(../img/backtoHome.svg) .0625rem center/.0812rem .137rem no-repeat;
	box-sizing: border-box;
	cursor: pointer;
	box-shadow: 0 2px 9px 2px rgba(0,100,173,.3);
}