body{
    width: 100%;
}
.wrap{
   
    height: 100%;
    overflow: hidden;
}







/*iframe*/
.homeCon{
    width: 1200px;
    margin: 0 auto;
}





